// layout scaffolding

@mixin layoutGuide($color: red, $thickness: 1) {
  border: #{$thickness}px #{$color} solid;
}

@mixin layoutGuideBg($color: red, $thickness: 1px) {
  border: #{$thickness} #{$color} solid;
  background-color: lighten($color, 40%);
}

// layout

@mixin flex($direction: row, $justify: center, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// form-validation

.signup-form-validation-success {

  .icon-success {
    color: $iconSuccess;
    visibility: visible;
  }

  input {
    color: $textColorFocus;
  }

  .form-validation-message {
    visibility: visible;
    color: $textColorFocus;
  }

}

.signup-form-validation-error {

  .icon-error {
    color: $iconError;
    visibility: visible;
  }

  .form-validation-message {
    visibility: visible;
    color: $textColorError;
  }

  input, label, span {
    color: $iconError;
  }

  label:hover {
    color: $textColorError;
  }



}
